{% extends "base.html" %}

{% block container %}

<form class="well form-horizontal" method="post" action="/reservar">
    {% csrf_token %}
    <fieldset>
    <legend>Gestión de paquetes</legend>

    <div class="control-group">
    <label class="control-label" for="paquete">Paquete</label>
    <div class="controls">
        <input id="paquete" class="span1" size="16" type="text">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="cantidad_personas">Cantidad de Personas</label>
    <div class="controls">
        <input id="cantidad_personas" class="span1" size="16" type="text">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="desde"> Desde </label>
    <div class="controls">
        <input id="desde" class="span1" size="16" type="text">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="hasta"> Hasta </label>
    <div class="controls">
        <input id="hasta" class="span1" size="16" type="text">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="estado">Estado del paquete</label>
    <div class="controls">
        <select class="input-xlarge" id="estado">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    </div>

    <div class="form-actions btn-group">
        <button type="submit" class="btn btn-primary" name="commit" value="agregar">Agregar</button>
        <button type="submit" class="btn btn-info" name="commit" value="buscar">
            Buscar</button>
    </div>



    <legend>Paquetes Encontradas</legend>
    <div class="control-group ">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Paquete</th>
                <th># Personas</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Estado</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
    </table>

{#falta agregar ejemplares de servicios/servicios fisicos (no tipos)#}

    <div class="form-actions btn-group">
        <button type="submit" class="btn btn-warning" name="commit" value="imprimir">
            Imprimir Paquetes</button>
        <button class="btn btn-danger" name="commit" value="eliminar">Eliminar</button>
        <button type="submit" class="btn btn-warning" name="commit" value="modificar">
            Modificar</button>
    </div>

    </fieldset>
</form>
{% endblock container %}
