{% extends "base.html" %}

{% block container %}

<form class="form-horizontal" method="post" action="/habitaciones_disponibles">
    {% csrf_token %}
    <fieldset>
        <table class="table">
            <thead>
            <tr>
                <td>Tipo</td>
                <td>Cant. Personas</td>
                <td>Seleccionar</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                {# for paquete in paquetes, el ultimo es un checkbox #}
                </tr>
            </tbody>
        </table>
        <div class="form-actions">
            <button class="btn" name="commit" value="cancelar">Cancelar</button>
            <button type="submit" class="btn btn-primary" name="commit" value="continuar">
                Continuar</button>
        </div>
    </fieldset>
</form>

{% endblock container %}
