{% extends "base.html" %}

{% block container %}
<div class= "container b_index">
    <p>
    Estos son algunos de los cuartos de hotel que ofrecemos actualmente
    </p>
    <div class="row-fluid">
      {% for x in index_data %}
        <div class="span4 b_lavender" style="text-align:center;">
             <h3>{{x.nombre}}</h3>
             <a href="/reservas/nueva/pag1?hab={{x.id}}">
                 <img src="{{ STATIC_URL }}{{x.imagen_url}}" width="span4"/>
             </a>
             <p>{{x.descripcion}}</p>
        </div>
      {% endfor %}

    </div>
</div>
{% endblock container %}

