{% extends "base.html" %}

{% block container %}
<div class= "container b_index">
    <p>
    Estos son algunos de los cuartos de hotel que ofrecemos actualmente
    </p>
    <div class="row-fluid">
        <div class="span4 b_lavender" style="text-align:center;">
             <h3>{{index_data_1.nombre}}</h3>
             <img src="{{ STATIC_URL }}{{index_data_1.imagen_url}}" width="span4"/>
             <p>{{index_data_1.descripcion}}</p>
        </div>
        <div class="span4 b_lavender" style="text-align:center;">
             <h3>{{index_data_2.nombre}}</h3>
             <img src="{{ STATIC_URL }}{{index_data_2.imagen_url}}" width="span4"/>
             <p>{{index_data_2.descripcion}}</p>
        </div>
        <div class="span4 b_lavender" style="text-align:center;">
             <h3>{{index_data_3.nombre}}</h3>
             <img src="{{ STATIC_URL }}{{index_data_3.imagen_url}}" width="span4"/>
             <p>{{index_data_3.descripcion}}</p>
        </div>
    </div>
</div>
{% endblock container %}

