{% extends "base.html" %}

{% block container %}

<form class="well form-horizontal" method="post" action="/reservas/nueva/pag1">
  {% csrf_token %}
  <fieldset>
  <legend>Seleccionar características de la habitación</legend>

    <div class="control-group">
      <label class="control-label" for="tipo_habitacion">Habitación</label>
      <div class="controls">
        <select class="input-xlarge" id="tipo_habitacion" name="tipo_habitacion">
          {% for x in tipo_habitaciones %}
            <option value="{{x.id}}">{{x.nombre}}</option>
          {% endfor %}
        </select>
        <p class="help-block">Seleccione la habitación deseada</p>
     </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="cantidad"> Cantidad de personas </label>
      <div class="controls">
        <select class="span1" id="cantidad" name="cantidad_personas">
          <option> 1 </option>
          <option> 2 </option>
          <option> 3 </option>
          <option> 4 </option>
        </select>
        <p class="help-block"> Indique la cantidad de personas que arribarán </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="desde"> Fecha de ingreso </label>
      <div class="controls">
        <div class="input-append date" data-date-format="dd-mm-yyyy">
          <input id="desde" name="hasta" class="span2" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
          <p class="help-block"> La fecha en que ingresará al hotel </p>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="hasta"> Fecha de egreso </label>
      <div class="controls">
        <div class="input-append date" data-date-format="dd-mm-yyyy">
          <input id="hasta" name="hasta" class="span2" size="16" type="text">
          <span class="add-on"><i class="icon-th"></i></span>
          <p class="help-block"> La fecha en que se retirará del hotel </p>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="comentario"> Comentario </label>
      <div class="controls">
        <textarea class="input-xlarge" id="comentario" name="comentario" rows="3"></textarea>
        <p class="help-block"> Alguna información extra que desee agregar. </p>
      </div>
    </div>

    <div class="form-actions btn-group">
      <button type="submit" class="btn btn-primary" name="commit" value="continuar">
        Continuar</button>
      <button class="btn" name="commit" value="cancelar">
        Cancelar</button>
    </div>

  </fieldset>
</form>
{% endblock container %}

