{% extends "base.html" %}

{% block container %}

<form class="well form-horizontal" method="post" action="/reservas/nueva/pag2">
  {% csrf_token %}
  <fieldset>
    <legend>Datos Personales</legend>
    <div class="control-group">

      <label class="control-label" for="tipo_documento">Documento</label>
      <div class="controls">
        <select class="span1" id="tipo_documento" name="tipo_documento">
          {% for x in TIPO_DOCUMENTOS %}
            <option value="{{ x }}"> x </option>
          {% endfor %}
        </select>
        <input class="span2" id="documento" name="numero_documento"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="email"> Correo electrónico </label>
      <div class="controls">
        <input id="email" class="span2" name="email" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="telefono1"> Telefono </label>
      <div class="controls">
        <input id="telefono1" class="span2" name="telefono1" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="telefono2"> Telefono alt. </label>
      <div class="controls">
        <input id="telefono2" class="span2" name="telefono2" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="domicilio"> Domicilio </label>
      <div class="controls">
        <input id="domicilio" class="span2" type="text">
      </div>
    </div>

    <div class="form-actions btn-group">
        <button type="submit" class="btn btn-primary" name="commit" value="continuar">
            Continuar</button>
        <button class="btn" name="commit" value="cancelar">
            Cancelar</button>
    </div>

  </fieldset>
</form>

{% endblock %}
