{% extends "base.html" %}

{% block container %}

<form class="form-horizontal" method="post" action="/reservar">
    {% csrf_token %}
  <fieldset>
    <legend>Seleccionar caracteristicas de la habitacion</legend>
    <div class="control-group">

      <label class="control-label" for="tipo_habitacion">Tipo de Habitación</label>
      <div class="controls">
        <select class="input-xlarge" id="tipo_habitación">
            <option> Suite Imperial </option>
            <option> Habitación doble matrimonial </option>
            <option> Habitación doble, 2 camas </option>
            <option> Habitación cuadruple, familiar </option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="cantidad"> Cantidad </label>
      <div class="controls">
        <select class="span1" id="cantidad">
            <option> 1 </option>
            <option> 2 </option>
            <option> 3 </option>
            <option> 4 </option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="desde"> Desde </label>
      <div class="controls">
      <div class="input-append date" data-date-format="dd-mm-yyyy">
        <input id="desde" class="span2" size="16" type="text">
        <span class="add-on"><i class="icon-th"></i></span>
      </div>      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="hasta"> Hasta </label>
      <div class="controls">
      <div class="input-append date" data-date-format="dd-mm-yyyy">
        <input id="hasta" class="span2" size="16" type="text">
        <span class="add-on"><i class="icon-th"></i></span>
      </div>      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="descripcion"> Descripción </label>
      <div class="controls">
        <textarea class="input-xlarge" id="descripcion" rows="3"></textarea>
      </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="commit" value="continuar">
            Continuar</button>
        <button class="btn" name="commit" value="cancelar">Cancelar</button>
    </div>

  </fieldset>
</form>

{% endblock container %}

