{% extends "base.html" %}

{% block container %}

<form class="well form-horizontal" method="post" action="/seleccion_paquetes">
    {% csrf_token %}
    <fieldset>
        <table class="table">
            <thead>
            <tr>
                <th>Paquete</th>
                <th>Cant. Personas</th>
                <th>Servicios Incluidos</th>
                <th>Seleccionar</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                {# for paquete in paquetes, el ultimo elemento de la fila es un checkbox #}
                </tr>
            </tbody>
        </table>

        <div class="form-actions btn-group">
            <button class="btn" name="commit" value="cancelar">Cancelar</button>
            <button type="submit" class="btn btn-primary" name="commit" value="continuar">
                Continuar</button>
        </div>

    </fieldset>
</form>

{% endblock container %}
