{% load url from future %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>

    <title>Hotel</title>

    <!-- Twitter Bootstrap css -->
    
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}addition.css" rel="stylesheet"/>

    <!-- Twitter Bootstrap images -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" 
        href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" 
        href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" 
        href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}js/underscore-min.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}js/render.js" type="text/javascript">
    </script>

    <!-- Twitter Bootstrap JavaScript -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}bootstrap/js/dropdown.js" type="text/javascript">
    </script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js"
        type="text/javascript"> </script>

    {% block extrahead %}{% endblock %}

  </head>

<!-- NAV BAR -->

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">

<ul class="nav">
    <li class="active"><a href="/">Inicio</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Reservas<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/reservas/nuevo">Reservar</a></li>
        <li><a href="/reservas/consultar">Consultar Reserva</a></li>
      {% if user.is_staff() %}
        <li><a href="/reservas/">Buscar Reservas</a></li>
        <li><a href="/reservas/checkin/">Ingresos del día</a></li>
        <li><a href="/reservas/checkout/">Egresos del día</a></li>
      {% endif %}
      </ul>
    </li>
  {% if user.is_superuser() %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administración<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/habitaciones/">Gestión de habitaciones</a></li>
        </ul>
    </li>
  {% endif %}
</ul>

<ul class="nav pull-right">
  {% if user.is_authenticated %}
    <li> {{ user.username }} <a href="/logout/">Desconectar</a></li>
  {% else %}
    <form action="/login/" method="post" class="navbar-form pull-left">
      {% csrf_token %}
      <input type="text" name="username" class="span2" placeholder="Usuario"/>
      <input type="password" name="password" class="span2" placeholder="Contraseña"/>
      <button type="submit" class="btn" value="Conectar"/>
    </form>
  {% endif %}
</ul>

      </div>
    </div>
  </div>

<!-- END NAV BAR -->

    <div class="container">
      {% block container %}

      {% endblock container %}
    </div>

  </body>

    <script type="text/javascript">
      $('.dropdown-toggle').dropdown();
      $('.date').datepicker();
    </script>
</html>

